obj_dir/
*.vcd
.vscode-server/
.vscode/
node_modules/
.cache/
.config/
.dotnet/
.vscode-server/
.bash_history/
.bash_logout/  
.bashrc/
.profile/
.motd_shown/
.sudo_as_admin_successful/
# Ignore Windows Zone.Identifier files
*:Zone.Identifier
# If you want to be extra safe for all hidden NTFS streams
*:$DATA